<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <div class="language-switcher">
    {% if page.lang == 'en' %}
        {% assign target_url = page.url | replace_first: '/', '/cn/' %}
        <strong>English</strong> | <a href="{{ site.baseurl }}{{ target_url }}">中文</a>
    {% elsif page.lang == 'cn' %}
        {% assign target_url = page.url | replace_first: '/cn/', '/' %}
        <a href="{{ site.baseurl }}{{ target_url }}">English</a> | <strong>中文</strong>
    {% endif %}
</div>
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.subtitle %}
          <p><strong>{{ site.subtitle }}</strong></p>
        {% endif %}

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p class="copyright-notice"><small>
          This work is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.en">Attribution-NonCommercial-NoDerivatives 4.0 International</a>.
          <br>
          © {% assign current_year = "now" | date: "%Y" %}{% if site.start_year and site.start_year != current_year %}{{ site.start_year }}–{{ current_year }}{% else %}{{ current_year }}{% endif %} <a href="https://github.com/sealeelike" target="_blank" rel="noopener noreferrer">sealeelike</a>.
        <small></p>

        {% if site.github.is_project_page %}
        <p class="project-maintainer">This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p class="theme-credit"><small>Hosted on GitHub Pages — Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>